<section id="cover3">
    <div id="cover-caption">
        <div class="container">
            <div class="col-sm-10 col-sm-offset-1"></div>
            <h1 class="display-2">All notes taken here will be public</h1>
            <% if is_owner?(current_user) %>
            <p><%=link_to "New note", new_user_publish_notes_note_path(current_user) , class: "btn btn-lg btn-danger"%><p>

        <%end%>
            <p><%=link_to "All Published Notes",user_publish_notes_notes_path(@user), class: "btn btn-lg btn-success"%>
        </div>
    </div>
</section>

