<section id="contact">
    <div class="section-content">
        <h1 class="section-header">Time to <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Write your note</span></h1>
        <h3>Fill in the details below and your note will be created.</h3>
    </div>
    <div class="contact-section">
        <div class="container">
                <%= render 'edit_quick_notes_note'%>
        </div>
</section>
