<section id="contact">
    <div class="section-content">
        <h1 class="section-header">Get in <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Touch with us</span></h1>
        <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h3>
    </div>
    <div class="contact-section">
        <div class="container">
            <% if current_page?(new_user_diary_note_path(current_user))%>
                <%= render 'diary_note'%>
            <%elsif current_page?(new_user_quick_notes_note_path(current_user))%>
                <%= render 'quick_notes_note'%>
            <%elsif current_page?(new_user_publish_notes_note_path(current_user))%>
                <%= render 'publish_notes_note'%>
            <%end%>
        </div>
</section>

