<div class="jumbotron">
    <h1 class="display-3"><%= @user.name%>(<%= @user.username%>)</h1>
        <p class="lead"></p>
          <hr class="my-4">
            <p>What are you upto today?</p>
              <p class="lead"> 
                  <a class="btn btn-primary btn-lg" href="#" role="button">Public notes</a> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
                  <a class="btn btn-primary btn-lg" href="#" role="button">Diary</a>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp;

                  <a class="btn btn-primary btn-lg" href="#" role="button">Quick Notes</a>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp;

                  <a class="btn btn-primary btn-lg" href="#" role="button">Shared Notes</a>                     </p>
</div>
