/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import 'bootstrap';

 /* home page */

html,body {
    height: 100%;
}

#cover {
    background: #222 url('abc.jpeg') no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption { 
width: 100%;
}

img {
max-width: 100%;
}





.border-form-div {
  max-width: 300px;
    padding: 19px 29px 29px;
      margin: 0 auto 20px;
        background-color: #fff;
          border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
                 -moz-border-radius: 5px;
                           border-radius: 5px;
                             -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                                  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                                            box-shadow: 0 1px 2px rgba(0,0,0,.05);

}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
      margin-bottom: 10px;

}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
      font-size: 16px;
        height: auto;
          margin-bottom: 15px;
            padding: 7px 9px;

}

.img-cir {
    border-radius: 30%;
}

.jumbotron {
    background: url('work.jpg') no-repeat;
    color: white;

    
}

/*Contact sectiom*/
.content-header{
      font-family: 'Oleo Script', cursive;
        color:#fcc500;
          font-size: 45px;

}

.section-content{
      text-align: center; 


}
#contact{
        
        font-family: 'Teko', sans-serif;
          padding-top: 60px;
            width: 100%;
              width: 100vw;
                height: 550px;
                  background: #3a6186; /* fallback for old browsers */
                    background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
                      background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                          color : #fff;    

}
.contact-section{
      padding-top: 40px;

}
.contact-section .col-md-6{
      width: 50%;

}

.form-line{
      border-right: 1px solid #B29999;

}

.form-group{
      margin-top: 10px;

}
label{
      font-size: 1.3em;
        line-height: 1em;
          font-weight: normal;

}
.form-control{
      font-size: 1.3em;
        color: #080808;

}
textarea.form-control {
        height: 135px;
           /* margin-top: px;*/

}

.submit{
      font-size: 1.1em;
        float: right;
          width: 150px;
            background-color: transparent;
              color: #fff;


}


#cover2 {
    background: #222 url('note.jpeg') no-repeat;
    background-size: cover;
    color: black;
    height: 100%;
    // text-align: center;
    display: flex;
    // align-items: center;
}

ol {
    counter-reset: myCouter;
}

li {
    list-style: outside none none;
}

#shownote{
li::before {
    content: counter(myCouter, decimal);
    counter-increment: myCouter;
    
    background: #2980b9 none repeat scroll 0 0;
    color: white;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 5px 10px;
    text-align: center;
    width: 40px;
}
}

.show {
    white-space: pre;
}

.container {
    font-color: black;
}

#cover3 {
    background: #222 url('notice.png') no-repeat;
    background-size: cover;
    color: black;
    height: 100%;
    // text-align: center;
    display: flex;
    // align-items: center;
}
